body, html {
    height: 100%;
    font-family: "Inconsolata", "Arial", sans-serif;
}

.bgimg {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("https://lh3.googleusercontent.com/d/1VwfM71ruMmg1vgBlXYUSoCTc8NzXdzyl") no-repeat center center;
    background-size: auto 100%;
    min-height: 25%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: calc(100% - 50px); /* Adjust as needed */
}

.logo-img-title-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.logo1, .logo2 {
    flex: 1;
    max-width: 100%;
    max-height: 100px;  
    width: auto;
    height: auto;
    background-color: rgba(255, 255, 255, 0.60);
    padding: 1px;
    border-radius: 15px;
    margin: 10px;
    object-fit: contain;
}

.text-container {
    text-align: center;
    width: 100%;
    max-width: 1000px;
    align-self: center;
}

.text-container span {
    font-size: calc(1vw + 1vh + 1vmin); 
    color: white;
}

.menu {
    display: none;
}

body {
    background: #EDEDED;
}

#csvTable, #csvGallery {
    display: block;
}

.thumbnail {
    width: 100%;
    height: 70%;
    max-height: 400px;
    border-radius: 15px;
    align: center;
    z-index: 999;
    object-fit: scale-down;
    padding-bottom: 10px;
}

#csvTable .thumbnail {
    max-height: 180px;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    color: Black;
    font-size: 1.5vw;
}

@media (max-width: 600px) {
    th, td {
        font-size: 10px;
    }
}

@media (min-width: 100%) {
    th, td {
        font-size: 1.5vw;
    }
}

.arrow {
    user-select: none;
    cursor: pointer;
}

.header {
    position: sticky;
    top: 0;
    background-color: #0f426a;
    z-index: 1000;
    color: #ffffff;
}

.selected {
    background-color: lightgreen;
}

input[type=text], input[type=datetime-local] {
    max-width: 500px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus, input[type=datetime-local]:focus {
    border: 5px solid #555;
}

label {
    display: block;
    margin-top: 20px;
}

button {
    font-weight: bold;
    background-color: #add8e6;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

button:hover {
    background-color: #87ceeb;
}

button:active {
    outline: none;
    box-shadow: 0 0 0 2px #000;
}

table tr td:first-child input[type="checkbox"] {
    display: none;
}

#csvGallery, .csvGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 5px;
    width: calc(33% - 10px);
    border-radius: 15px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; // Center vertically
}


.card.selected {
    background-color: lightgreen;
}

.card > div {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

.card > div > .sku {
    align-self: center;
    margin: 0; /* No margin */
    padding: 0; /* No padding */
    font-size: 0.7em;
    order: 3; /* Change order to 3 to make it appear at the bottom */
}

.card > div > .title {
    text-align: center;
    order: 0;
    font-size: 1.2em;
}

.card > div > .quantity-input {
    align-self: center;
    width: 50%;
    padding: 5px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    order: 1;
}

.card > div > .quantity-container {
    align-self: flex-end;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
}
.quantity-container {
    text-align: center;
    font-size: 0.8em;
}

iframe {
    transform: scale(0.8);
    transform-origin: 0 0;
}

.header-menu-container {
    position: sticky;
    top: 0;
    z-index: 1000;
}
